.main {
  max-width: 50vw;
  border: 0.5px solid rgba(137, 136, 136, 0.517);
  padding: 2rem;
  border-radius: 3px;
  margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.ethereumDetail {
  color: var(--main-link-color);
}

.ethereumAddress {
  border-bottom: 0.5px solid rgba(137, 136, 136, 0.517);
}

.ethereumContainer {
  border-bottom: 0.5px solid rgba(137, 136, 136, 0.517);
  padding-top: 1rem;
}

.comingSoon {
  padding-top: 1rem;
  text-align: end;
  color: rgba(137, 136, 136, 0.517);
}

@media only screen and (max-width: 800px) {
  .main {
    max-width: 100%;
  }
}
