.layout {
  display: flex;
  flex-direction: column;
}

.main {
  height: calc(100vh - 4rem);
  margin-left: 225px !important;
  padding: 2rem;
  overflow-y: scroll !important;
}

.modalBlur {
  display: flex;
  flex-direction: column;
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100vh;
}

@media only screen and (max-width: 800px) {
  .layout {
    margin: 0;
  }
  .main {
    height: auto;
    margin: 0 !important;
  }
}
