.input {
  display: block;
  padding: 1rem;
  width: 100%;
  border: 1px solid var(--main-border-color);
  border-radius: 3px;
  background: transparent;
  margin-bottom: 1rem;
  color: var(--main-font-color);
  -webkit-box-shadow: 0 0 0 30px var(--main-background-color) inset !important;
  -webkit-text-fill-color: var(--main-font-color) !important;
}

.searchNFT {
  margin-bottom: 1rem;
  display: block;
  width: 100%;
  border-radius: 3px;
  background: transparent;
  color: var(--main-font-color);
}

.input:focus {
  outline: auto;
}

.openSeaData {
  margin-top: 1rem;
}

.nftInfo {
  display: grid;
  grid-template-columns: 100px auto 80px;
  align-items: center;
  border: 0.5px solid var(--main-border-color);
  border-radius: 3px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.nftInfo:hover {
  background-color: rgb(28, 28, 28);
}

.nftImage {
  display: block;
  height: 100%;
}

.nftName {
  padding: 0.5rem;
  padding-left: 2rem;
}

.nftPrice {
  padding: 0.5rem;
  text-align: end;
}

.errorContainer {
  border: 0.5px solid rgb(220, 72, 72);
  border-radius: 3px;
  padding: 1rem;
  display: flex;
  flex-flow: row;
  position: absolute;
  color: rgb(220, 72, 72);
  top: 2rem;
  right: 2rem;
  max-width: 400px;
  background-color: var(--main-background-color);
  box-shadow: var(--main-box-shadow);
}

.errorMessage {
  display: flex;
  color: rgb(220, 72, 72);
}

.errorClose {
  display: flex;
  text-align: end;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: var(--main-font-color);
  box-shadow: var(--main-box-shadow);
  background-color: var(--main-background-color);
  align-items: center;
  justify-content: center;
  max-width: 25px;
  max-height: 25px;
  cursor: pointer;
}

/* mobile */
@media only screen and (max-width: 800px) {
  .nftInfo {
    grid-template-rows: auto auto auto;
    grid-template-columns: none;
  }
  
  .errorContainer {
    top: 1rem;
    right: 1rem;
    max-width: 180px;
    font-size: x-small;
    padding: 0.5rem;
  }

  .errorMessage {
    line-height: 1.2rem;    
  }
}
