html,
body {
  font-family: Poppins, Helvetica, system-ui, -apple-system, BlinkMacSystemFont,
    segoe ui, Roboto, helvetica neue, Arial, noto sans, sans-serif,
    apple color emoji, segoe ui emoji, segoe ui symbol, noto color emoji;
  background: #1A1A1D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  height: 100%;
  width: 100%;
  color:white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  vertical-align: baseline;
}

ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  padding: 10px;
  margin: 0 auto;
  flex-shrink: 0;
  display: flex;
  align-items: center;
}

h1 {
  padding-top: 1rem;
  margin: 0;
}

:root {
  --colorShadeA: rgb(106, 112, 163);
  --colorShadeB: rgb(60, 65, 112);
  --colorShadeC: rgb(44, 54, 140);
  --colorShadeD: rgb(34, 48, 157);
  --colorShadeE: rgb(41, 32, 128);
}
