:root {
  --main-background-color: #242424;
  --main-font-color: #f3f4f6;
  --main-link-color: #ffc600;
  --main-border-color: #514f4d;
  --main-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  --second-link-color: #ff8a00;
  --white: #fff;
}

html,
body {
  background: var(--main-background-color);
  color: var(--main-font-color);
  font-size: 16px;
  letter-spacing: 0.12rem;
  line-height: 1.75rem;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: 'rlig' 1, 'calt' 1, 'ss01' 1, 'ss06' 1;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 2rem;
  line-height: 3rem;
}

h2 {
  font-size: 36px;
  font-weight: 500;
  padding-bottom: 1.5rem;
  line-height: 2em;
}

a {
  color: var(--main-link-color);
  cursor: pointer;
  text-decoration: none;
  text-underline-offset: 0.2em;
}

a:hover {
  text-decoration: underline;
}

button {
  background: none;
  border: 0.5px solid var(--main-border-color);
  border-radius: 0.5rem;
  box-shadow: var(--main-box-shadow);
  color: inherit;
  cursor: pointer;
  font: inherit;
  outline: inherit;
  padding: 0.25rem;
  min-height: 40px;
  width: 100%;
  letter-spacing: 0.12rem;
}

button:focus {
  background-color: var(--main-link-color);
  outline: auto;
  color: var(--main-background-color);
}

button:hover {
  background-color: var(--main-link-color);
  color: var(--main-background-color);
}

p {
  padding-top: 0.5rem;
}
