@import url("https://fonts.cdnfonts.com/css/common-pixel");

html,
body {
  background: #020610;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  overflow-wrap: break-word;
  line-height: 2rem;
}

* {
  border: 0;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  letter-spacing: 0.1rem;
  margin: 0;
  padding: 0;
}

a {
  color: #3673f5;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 0.2em;

}

a:hover {
  text-decoration: none;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  padding-bottom: 1rem;
  line-height: 4rem;
}

h2 {
  font-size: 28px;
  font-weight: 500;
  padding-bottom: 1rem;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 1rem;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  width: 100%;
  border: 1px solid rgba(137, 136, 136, 0.517);
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

button:focus {
  background-color: #3673f5;
  border: auto;
  outline: auto;
}

button:hover {
  background-color: #3673f5;
}
