.main {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 60vw;
  border: 1px solid rgba(137, 136, 136, 0.517);
  padding: 2rem;
  border-radius: 1rem;
}

@media only screen and (max-width: 800px) {
  /* mobile only */
  .container {
    max-width: none;
  }
}
