.main {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 53vw;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: 1px solid rgba(137, 136, 136, 0.517);
  padding: 2rem;
  border-radius: 3px;
}

.title:hover {
  text-decoration: underline;
  cursor: auto;
}

@media only screen and (max-width: 800px) {
  /* mobile only */
  .container {
    max-width: none;
  }
}
