.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1; 
  overflow: auto; 
  width: 30vw;
  height: 45vh;
  background-color: #1A1A1D;
  animation:fadeIn 0.25s;
  border-radius: 8px;
  border: 1px solid rgba(137, 136, 136, 0.517);
  padding-right: 2rem;
  padding-left: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

@keyframes fadeIn {
	from {
		opacity:0;
	}
	to {
		opacity:1;
	}
}

@media only screen and (max-width: 600px) {
  .modal {
    width: 90vw;
  }
}

.closeModal {
  background-color: #414143;
}

.logo {
  margin-right: 1rem;
}
