.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  overflow: auto;
  width: 40vw;
  max-width: 400px;
  background-color: #1a1a1d;
  animation: fadeIn 0.05s;
  border-radius: 8px;
  border: 1px solid rgba(137, 136, 136, 0.517);
  box-shadow: 8px 8px 15px 2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: Arial, Helvetica, sans-serif;
  padding: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}

.close {
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 4rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 800px) {
  .modal {
    width: 90vw;
  }
}

.metaMask {
  border-color: #d77315;
}

.metaMask:hover {
  background-color: #d77315;
}

.walletConnect {
  border-color: #207ffc;
}

.walletConnect:hover {
  background-color: #207ffc;
}

.coinBase {
  border-color: #3673f5;
}

.coinBase:hover {
  background-color: #3673f5;
}

.logo {
  margin-right: 1rem;
}
