.navbar {
  border-right: 1px solid rgba(137, 136, 136, 0.517);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin: 0 auto;
  color: #fff;
  overflow: hidden;
  max-width: 250px;
  min-width: 250px;
}

@media only screen and (max-width: 600px) {
  .navbar {
    position: relative;
    border-bottom: 1px solid rgba(137, 136, 136, 0.517);
    max-width: 100%;
    border-right: 0;
  }
}

.pureMaterialButton {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  vertical-align: middle;
  text-align: center;
  max-height: 36px;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: rgb(217, 50, 214);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui,
    -apple-system;
  font-size: 14px;
  font-weight: 500;
  line-height: 36px;
  overflow: hidden;
  outline: none;
  cursor: pointer;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition: box-shadow 0.2s;
  transition: transform 0.5s;
}

.pureMaterialButton::-moz-focus-inner {
  border: none;
}

/* Overlay */
.pureMaterialButton::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transition: opacity 0.2s;
}

/* Ripple */
.pureMaterialButton::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 50%;
  padding: 50%;
  width: 32px; /* Safari */
  height: 32px; /* Safari */
  background-color: rgb(var(--pure-material-onprimary-rgb, 255, 255, 255));
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 1s, transform 0.5s;
}

/* Hover, Focus */
.pureMaterialButton:hover,
.pureMaterialButton:focus {
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
  transition: transform 0.5s;
}

.pureMaterialButton:hover::before {
  opacity: 0.08;
}

.pureMaterialButton:focus::before {
  opacity: 0.24;
}

.pureMaterialButton:hover:focus::before {
  opacity: 0.3;
}

/* Active */
.pureMaterialButton:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.pureMaterialButton:active::after {
  opacity: 0.32;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0s;
}

/* Disabled */
.pureMaterialButton:disabled {
  box-shadow: none;
  cursor: initial;
}

.pureMaterialButton:disabled::before {
  opacity: 0;
}

.pureMaterialButton:disabled::after {
  opacity: 0;
}
