.navbar {
  -webkit-box-align: center;
  align-items: center;
  padding: 16px 24px;
  border-bottom: 0.5px solid rgba(137, 136, 136, 0.517);
  position: fixed;
  left: 0px;
  transition: top 350ms ease 0s;
  top: 0px;
  right: 0px;
  z-index: 2;
  margin-left: 180px;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: flex-end;
  min-height: 68px;
  max-height: 68px;
  background-color: rgb(0, 0, 0);
  color: #eaeaea;
}

.link {
  display: inline-block;
  padding: 0.5rem;
  border: 0.5px solid rgba(137, 136, 136, 0.517);
  height: inherit;
  margin: 5px;
  border-radius: 1rem;
  min-width: 125px;
  max-width: 200px;
  text-align: center;
}

.linkConnect {
  display: inline-block;
  padding: 0.5rem;
  background-color:rgb(53, 80, 186);
  border: 0.5px solid rgba(137, 136, 136, 0.517);
  border-radius: 0.25rem;
  min-width: 200px;
  max-width: 200px;
  text-align: center;
}

.link:hover {
  background-color: rgba(185, 134, 5, 0.656);
  cursor: pointer;
}

.linkConnect:hover {
  background-color:rgb(68, 96, 208);
  cursor: pointer;
}
