.sidebar {
  position: fixed;
  transition: top 350ms ease 0s;
  top: 0px;
  bottom: 0px;
  left: 0px;
  min-height: 100vh;
  display: flex;
  justify-content: left;
  flex-direction: column;
  z-index: 1;
  width: 180px;
  background-color: black;
  border-right: 0.5px solid rgba(137, 136, 136, 0.517);
  color: #eaeaea;
  overflow: scroll;
}

.logo {
  display: inline-block;
  padding: 0.5rem;
  padding-top: 1.4rem;
  height: 68px;
  text-align: center;
  border: 0.5px solid rgba(137, 136, 136, 0.517);
}

.link {
  display: inline-block;
  padding: 1rem;
  border: 0.5px solid rgba(137, 136, 136, 0.517);
  padding-left: 3rem;
}

.link:hover {
  background-color: rgba(185, 134, 5, 0.656);
  cursor: pointer;
}
