.sidebar {
  position: fixed;
  transition: top 350ms ease 0s;
  top: 0px;
  bottom: 0px;
  left: 0px;
  min-height: 100vh;
  display: flex;
  justify-content: left;
  flex-direction: column;
  z-index: 1;
  width: 180px;
  background-color: rgb(32, 8, 51);
  color: #eaeaea;
}

.logo {
  height: 68px;
  font-size: large;
  font-weight: 600;
  letter-spacing: 0.5rem;
  display: inline-block;
  text-align: center;
  padding: 16px 24px;
  background-color:rgb(32, 8, 51);
  border: 0.5px solid rgba(137, 136, 136, 0.207);
}

.link {
  display: inline-block;
  padding: 1rem;
  background-color:rgb(62, 10, 101);
  border: 0.5px solid rgba(137, 136, 136, 0.207);
}

.linkAbout {
  display: inline-block;
  padding: 1rem;
  background-color:rgb(32, 8, 51);
  /* border: 0.5px solid rgba(137, 136, 136, 0.681); */
}

.linkAbout:hover {
  background-color: rgb(117, 57, 230);
}

.link:hover {
  background-color: rgb(117, 57, 230);
}
