.navbar {
  border-right: 0.5px solid var(--main-border-color);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
  overflow: hidden;
  max-width: 250px;
  min-width: 250px;
  align-items: center;
  z-index: 1;
  background-color: var(--main-background-color);
}

@media only screen and (max-width: 800px) {
  .navbar {
    position: relative;
    border-top: 0.5px solid var(--main-border-color);
    max-width: 100%;
    border-right: 0;
    margin: 0;
    padding: 2rem;
    padding-bottom: 1rem;
  }

  .inactiveButton {
    margin-bottom: 1rem;
    cursor: crosshair;
    max-height: auto;
  }
}

.inactiveButton {
  margin-bottom: 1rem;
  cursor: crosshair;
}

.inactiveButton:hover {
  background-color: var(--main-border-color);
}

.active {
  margin-bottom: 1rem;
}

.activeFocus {
  background-color: var(--main-link-color);
  color: var(--white);
  margin-bottom: 1rem;
}

.activeFocus:hover {
  margin-bottom: 1rem;
  cursor: pointer;
}

.disconnect {
  background-color: var(--main-border-color);
  color: var(--white);
  margin-bottom: 2rem;
}

.connect {
  margin-bottom: 2rem;
  background-color: var(--second-link-color);
  color: var(--white);
}
